
.my-button {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.my-button:hover {
  color: white;
  background: linear-gradient(to right, #3dbacb , #4280f3);
  border-color: rgba(197, 205, 206, 0);
}

.dropdown .my-button:hover {
  /* color: black; */
  background: transparent;
  border-color: rgba(38,173,186,0);
}

.my-button[aria-expanded="true"]{
  /* color: white; */
  background: linear-gradient(to right, #3dbacb , #4280f3);
  border-color: rgba(38,173,186,0);
}

.dropdown .my-button[aria-expanded="true"]{
  /* color: white; */
  background: transparent;
  border-color: rgba(38,173,186,0);
}

.theme_light .dropdown .my-button[aria-expanded="true"]{
  color: black;
  background: transparent;
  border-color: rgba(38,173,186,0);
}

.icon-button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-item .my-button .active {
  border-color: rgba(38,173,186,1);
}
  