.Sign_up {
    padding: 0;
}

.Sign_up .col_left{
    /* background-color: rgb(76, 199, 195); */
    padding: 5vh;
    padding-top: 20vh;
}

.Sign_up .col_right{
    padding: 5vh;
    padding-top: 15vh;
    height: 100vh;
}

.row{
    padding: 5px 5px;
}

.App {
    text-align: left;
}
input {
    width: 100%;
    padding: 0px 12px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset;
    transition: all 0.3s;
}

select {
    background-color: white;
    width: 100%;
    padding: 0px 12px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset;
    transition: all 0.3s;
}

.sign_up_step_1 .sign_up_1{
    display: block;
}

.sign_up_step_1 .sign_up_2{
    display: none;
}

.sign_up_step_2 .sign_up_1{
    display: none;
}

.sign_up_step_2 .sign_up_2{
    display: block;
}

.Sign_up .App-header {
    padding-top: 0;
    padding-left: 0;
  }

.Sign_up button {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: rgb(76, 199, 195);
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-radius: 15px 15px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

@media (max-width: 600px) {
    .Sign_up .col_left{
        display: none;
    }
}