.Sign_up {
    padding: 0;
}

.Sign_up .col_left{
    /* background-color: rgb(76, 199, 195); */
    padding: 5vh;
    height: 100vh;
}

.Sign_up .col_right{
    /* background-color: rgb(255, 255, 255); */
    padding: 5vh;
    height: 100vh;
}

.row{
    padding: 5px 5px;
}

.App {
    text-align: left;
}
input {
    padding: 0px 12px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset;
    transition: all 0.3s;
}

select {
    padding: 0px 12px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset;
    transition: all 0.3s;
}

.sign_up_step_1 .sign_up_1{
    display: block;
}

.sign_up_step_1 .sign_up_2{
    display: none;
}

.sign_up_step_2 .sign_up_1{
    display: none;
}

.sign_up_step_2 .sign_up_2{
    display: block;
}