body{
  font-family: RSU_Regular!important;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

.App {
  text-align: center;
  max-height: 100vh;
  background-color: #141313;
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100%
}

.App-logo {
  max-width: 10vw;
  max-height: 30vh;
  width: 100%;
  height: 100%;
  padding: 10px;
  pointer-events: none;
}

.App-header {
  padding-top: 20vh;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #3dbacb;
  padding-right: 5px;
  padding-left: 5px;
}

.App-button {
  background: linear-gradient(to right, #3dbacb , #4280f3);
}

.App-button-outline {
  border: 20px solid;
  border-image: linear-gradient(to right, #3dbacb , #4280f3);
}

.Link-padding {
  padding: 15px 25px;
}

.App-header-logo {
  /* padding-left: 0px 5px; */
  width: 2rem;
  height: auto;
}

.toggle-password:hover {
  cursor: pointer;
}

/* 
.light button {
  color: rgba(0, 0, 0, 0.5);
}

.dark button {
  color: rgba(255, 255, 255, 0.5);
} */

.nav-item a {
  width: 5vw;
}

@media (max-width: 600px) {
  .App-logo {
    padding-top: 0vh;
    max-width: 30vw;
    max-height: 30vh;
  }  
}

.Bg-color{
  background-color: #141313;
  height: 100%;
}

.toast{
  margin-top: -100px; 
  margin-left: -180px;
  top:50%;
  left:50%;
  position: fixed;
  min-width: 200px;
  height: 200px;
  width: 400px;
  text-align: center;
  max-width: 400px;
}

.toast-header {
  font-size: 2rem;
}
.toast-body{
  height: 100%;
  font-size: 2rem;
  background: darkturquoise;
 }

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}