body{
  font-family: RSU_Regular!important;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

.App {
  text-align: center;
  max-height: 100vh;
  background-color: #282c34;
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
}

.App-logo {
  max-width: 10vw;
  max-height: 30vh;
  width: 100%;
  height: 100%;
  padding: 10px;
  pointer-events: none;
}

.App-header {
  padding-top: 20vh;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
  padding-right: 5px;
  padding-left: 5px;
}

.App-button {
  background: linear-gradient(to right, #3dbacb , #4280f3);
}

.App-button-outline {
  border: 20px solid;
  border-image: linear-gradient(to right, #3dbacb , #4280f3);
}

.Link-padding {
  padding: 15px 25px;
}

.App-header-logo {
  /* padding-left: 0px 5px; */
  width: 2rem;
  height: auto;
}

.toggle-password:hover {
  cursor: pointer;
}

/* 
.light button {
  color: rgba(0, 0, 0, 0.5);
}

.dark button {
  color: rgba(255, 255, 255, 0.5);
} */

.nav-item a {
  width: 5vw;
}

@media (max-width: 600px) {
  .App-logo {
    width: 30%;
    height: 30%;
  }
}