.Contact_us .theme_light {
    color: black;
}

.Contact_us .theme_dark {
    color: white;
}

.Contact_us {
    padding-left: 20vw;
    padding-right: 20vw;
}

.Contact_us i {
    color: rgba(38,173,186,1);
}


.Contact_us .fa {
    padding-right: 10px;
}

.Contact_us .fa-phone {
    font-size: 2rem;
}

.Contact_us .main {
    margin: 5vw;
    padding-top: 8vh;
    background-color : transparent;
    text-align : center;
    border-color: white;
    max-height: 40vh;
}

.theme_light .main {
    border-color: black;
}


.Contact_us .footer {
    background-color : transparent;
    text-align : center;
    border-color: transparent;
    max-height: 10vh;
}

@media (max-width: 800px) {
    .Contact_us .card-text .h4, .Contact_us .card-text h4 {
        font-size: 1rem;
    }

    .Contact_us {
        padding-left: 5vw;
        padding-right: 5vw;
    }

}