.theme_light {
    background-color: #F5F9FD;
    color: #141313;
    height: 100%;
    width: 100%;
}

.theme_light a {
    color: #141313;
    height: 100%;
}

.theme_light .App-button {
    color: rgba(255, 255, 255, 0.8);
}

.theme_dark .App-button {
    color: rgba(255, 255, 255, 0.8);
}

.theme_dark {
    background-color: #141313;
    color: white;
    width: 100%;
    height: 100%;
}

.theme_dark a {
    color: white;
    height: 100%;
}

.theme_dark button {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.8);
}

.theme_light button {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.8);
}

.theme_light .dropdown-menu {
    background: linear-gradient(to right, #3dbacb , #4280f3);
    border-color: rgba(38,173,186,1);
}

.theme_dark .dropdown-menu {
    background: linear-gradient(to right, #3dbacb , #4280f3);
    border-color: rgba(38,173,186,1);
}

.theme_dark .dropdown-menu button {
    color: rgba(255, 255, 255, 1);
}

.theme_light .dropdown-menu button {
    color: rgba(255, 255, 255, 1);
}
  
.theme_dark .dropdown-item:hover {
    /* color: rgba(255,255,255,0.5); */
    background-color: rgba(38,173,186,0);
    border-color: rgba(38,173,186,0);
}

.theme_light .dropdown-item:hover {
    /* color: rgba(255,255,255,0.5); */
    background-color: rgba(38,173,186,0);
    border-color: rgba(38,173,186,0);
}

.theme_dark .dropdown-menu a {
    color: rgba(255, 255, 255, 1);
}

.theme_light .dropdown-menu a {
    color: rgba(255, 255, 255, 1);
}

  
.theme_dark .dropdown-item a:hover {
    color: rgba(255,255,255,0.5);
    background-color: rgba(38,173,186,0);
    border-color: rgba(38,173,186,0);
}

.theme_light .dropdown-item a:hover {
    color: rgba(255,255,255,0.5);
    background-color: rgba(38,173,186,0);
    border-color: rgba(38,173,186,0);
}
  
.App a {
    text-decoration: none;
}