

.Profile .card {
    background-color: white;
    height: 80vh;
    padding: 8vh;
    padding-top: 2vh;
    margin: 3vh;
    color: black;
    border-radius: 15px 15px;
}


.Profile .edit_button {
    background-color: transparent;
    color: blue;
}

.Profile .center {
    text-align: center;
}
 
.Profile .profile_button {
    background-color: transparent;
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
}

.apexcharts-toolbar {
    display: none;
}


.Profile .moreinfo {
    border: 2px solid;
    border-color: #4280f3;
    background: transparent;
}


.theme_light .moreinfo {
    color: black;
}

.theme_dark .moreinfo {
    color: white;
}