

.Profile .card {
    background-color: white;
    height: 80vh;
    padding: 8vh;
    padding-top: 2vh;
    margin: 3vh;
    color: black;
    border-radius: 15px 15px;
}
/* 
.Profile .card .left {
    margin-left: 10vh;
}

.Profile .card .right {
    margin-right: 10vh;
} */

.Profile .edit_button {
    background-color: transparent;
    color: blue;
}

.Profile .center {
    text-align: center;
}
 
.Profile .profile_button {
    background-color: transparent;
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
}

.apexcharts-toolbar {
    display: none;
}