.Sleep_test .theme_dark {
    color: white;
}

.Sleep_test .theme_light {
    color: black;
}


.Sleep_test .card {
    text-align: center;
    margin: 20%;
    background-color:  transparent;
    /* width: 30vw; */
    border: 0;
}

.Sleep_test .card-title {
    font-size: 2rem;
}

.Sleep_test .button {
    padding: 0;
    margin: 0;
    width: 20vw;
    height: auto;
    cursor: pointer;
}

@media (max-width: 900px) {
    .Sleep_test .card {
        margin: 0;
    }

    .Sleep_test .button.sleep_test_button {
        width: 50vw;
    }
}