.Sleep_score {
    padding: 0;
    max-width: 100%;
    max-height: 90vh;
    height: 80%;
    overflow: hidden;
}

#chart {
    max-height: 10%;
}

.Sleep_score .oversize {
    font-size: 8rem;
}

.Sleep_score .middlesize {
    font-size: 5rem;
}


.Sleep_score .content {
    height: 80vh;
}

.Sleep_score .button {
    height: 10vh;
}

.Sleep_score .col, .Sleep_score .row {
    text-align: center;
    padding: 0;
}

.apexcharts-menu-icon {
    display: none;
}

@media (max-width: 800px) {
    .Sleep_score .content {
        height: 80vh;
    }

    .Sleep_score .oversize {
        font-size: 5rem;
    }

    .Sleep_score .middlesize {
        font-size: 32px;
    }
    
    .Sleep_score .button {
        height: 10vh;
    }


    .Sleep_score {
        overflow: scroll;
    }


    .Sleep_score::-webkit-scrollbar {
    display: none;
    }
    
    /* Hide scrollbar for IE and Edge */
    .Sleep_score {
    -ms-overflow-style: none;
    }

    .Sleep_score h1 {
        font-size: 1rem;
    }
    
}