.layout {
  width: 100%;
  height: auto;
  margin: auto; 
}

th, tr{
  font-weight: 400;
}

.WhiteFont{
  color: #fff;
  
}
.slide-container {
  max-width: 100%;
  margin: auto; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  /* height: 570px; */
}


.theme_dark th {
  color: rgba(255, 255, 255, 0.8);
}

.theme_light th {
  color: rgba(0, 0, 0, 0.8);
}

.history .btn-secondary {
  background-color: rgba(0, 0, 0, 0);
}