body{
  font-family: RSU_Regular!important;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
}

.App-logo {
  width: 10vw;
  max-height: 80%;
  height: auto;
  padding: 10px;
  pointer-events: none;
}

.App-header {
  padding-top: 20vh;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
  padding-right: 5px;
  padding-left: 5px;
}

.App-button {
  background: linear-gradient(to right, #3dbacb , #4280f3);
}

.Link-padding {
  padding: 15px 25px;
}

.App-header-logo {
  /* padding-left: 0px 5px; */
  width: 2rem;
  height: auto;
}

.theme_light {
  background-color: #F5F9FD;
  color: #282c34;
}

.theme_light a {
  color: #282c34;
}


.theme_dark {
  background-color: #282c34;
  color: wheat;
}

.theme_dark a {
  color: white;
}

.theme_dark button {
  background-color: rgba(0, 0, 0, 0);
  border-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.theme_light button {
  background-color: rgba(0, 0, 0, 0);
  border-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}

.theme_light .dropdown-menu {
  background-color: rgba(38,173,186,1);
  border-color: rgba(38,173,186,1);
}

.theme_dark .dropdown-menu {
  background-color: rgba(38,173,186,1);
  border-color: rgba(38,173,186,1);
}

.theme_dark .dropdown-menu button {
  color: rgba(255, 255, 255, 1);
}

.theme_light .dropdown-menu button {
  color: rgba(255, 255, 255, 1);
}


/* 
.light button {
  color: rgba(0, 0, 0, 0.5);
}

.dark button {
  color: rgba(255, 255, 255, 0.5);
} */

.nav-item a {
  width: 5vw;
}

/* .theme_dark .nav-item .btn-secondary:hover {
  color: white;
  background-color: rgba(38,173,186,1);
  border-color: rgba(38,173,186,0);
}

.theme_light .nav-item .btn-secondary:hover {
  color: white;
  background-color: rgba(38,173,186,1);
  border-color: rgba(38,173,186,0);
}

.theme_dark .nav-item .btn-secondary:active {
  color: white;
  background-color: rgba(38,173,186,1);
  border-color: rgba(38,173,186,0);
}

.theme_light .nav-item .btn-secondary:active {
  color: white;
  background-color: rgba(38,173,186,1);
  border-color: rgba(38,173,186,0);
} */

.theme_dark .dropdown-item:hover {
  color: rgba(255,255,255,0.5);
  background-color: rgba(38,173,186,0);
  border-color: rgba(38,173,186,0);
}

.theme_light .dropdown-item:hover {
  color: rgba(255,255,255,0.5);
  background-color: rgba(38,173,186,0);
  border-color: rgba(38,173,186,0);
}

@media (max-width: 600px) {
  /* .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
} */
  /* .navbar {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #545b62;
    border-radius: 5px 5px;
  }
  .navigation {
    border-color: #545b62;
  } */
}