.navbar-nav a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    width: 100px;
    height: auto;
    border-radius: 2px;
}


.navbar-nav a:hover {
    background-color: blue;
}