.label {
  background-color: skyblue;
  display: flex;
  height: 30px;
  border-radius: 50px;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  border: 2px solid black;
}

.label .fa-moon-o {
  color: rgb(250, 250, 250);
}
label .fa-sun-o {
  color: rgb(250, 250, 250);
}
.blob {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  background: rgb(99, 110, 110);
  border-radius: 50px;
  transition: .5s ease all;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.info {
  display: block;
  margin-top: 50px;
}
.info.night {
  color: white;
}
.checkbox:checked + .label .blob {
  left: 0;
}
.checkbox:checked + .label {
  background-color: darkblue;
}

.nav-item button {
  background-color: rgba(0, 0, 0, 0);
  color: green;
}