.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-logo {
  width: 10vw;
  max-height: 80%;
  height: auto;
  padding: 10px;
  pointer-events: none;
}

.App-header {
  padding-top: 20vh;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
  padding-right: 5px;
  padding-left: 5px;
}

.App-button {
  background: linear-gradient(to right, #3dbacb , #4280f3);
}

.Link-padding {
  padding: 15px 25px;
}

.App-header-logo {
  padding-left: 0px 5px;
  width: 2rem;
  height: auto;
}